.container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  position: relative;
  background: rgba(20, 15, 10, 0.4);
  border-radius: 8px;
  flex: 1;
  overflow: hidden;
}

.colorNode {
  cursor: move;
  filter: drop-shadow(0 0 8px currentColor);
  transition: filter 0.3s;
  overflow: visible !important;
}

.colorNode:hover {
  filter: drop-shadow(0 0 15px currentColor) drop-shadow(0 0 25px currentColor);
}
